/* 自底向上 */
@keyframes upaction {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(-80%);
    opacity: 1;
  }
}

/* 竹子摇曳 */
@keyframes bamboo {
  0% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(0);
  }

  40% {
    transform: rotate(3deg);
  }

  60% {
    transform: rotate(0);
  }

  80% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0);
  }
}

/* 蹦出 */
@keyframes zoomInOut {
  0% {
    transform: scale(0, 0) translateZ(0);
    opacity: 0;
  }

  30% {
    transform: scale(1.1, 1.1) translateZ(0);
    opacity: 1;
  }

  50% {
    transform: scale(0.5, 0.5) translateZ(0);
  }

  100% {
    transform: scale(1, 1) translateZ(0);
    opacity: 1;
  }
}

/* 从下进入 */
@keyframes slideup {
  0% {
    transform: translateY(1000%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 从左进入 */
@keyframes leftin {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 从右进入 */
@keyframes rightin {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 蹦出 */
@keyframes titlenumin {
  0% {
    transform: translateY(30%) scale(0);
    opacity: 0;
  }

  33% {
    transform: translateY(-30%) scale(1.5);
    opacity: 1;
  }

  66% {
    transform: translateY(0) scale(.5);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/* 淡入 */
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* p2增高 */
@keyframes p2growup {
  0% {
    transform: scaleY(0) translateZ(0);
    transform-origin: 0 bottom;
    opacity: 0;
  }

  100% {
    transform: scaleY(1) translateZ(0);
    transform-origin: 0 bottom;
    opacity: 1;
  }
}

/* p4增高 */
@keyframes p4growup {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 bottom;
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    transform-origin: 0 bottom;
    opacity: 1;
  }
}

/* 落下 */
@keyframes dropdown {
  0% {
    transform: translateY(-20vw);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* p5增高 */
@keyframes p5growup {
  0% {
    transform: scale(0);
    transform-origin: center bottom;
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    transform-origin: center bottom;
    opacity: 1;
  }
}

/* p6增高 */
@keyframes p6growup {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(100vw);
  }
}

@media (min-width: 750px) {
  @keyframes p6growup {
    0% {
      transform: scale(1.25) translateX(0vw);
    }

    100% {
      transform: scale(1.25) translateX(100vw);
    }
  }
}

/* 旋转变大 */
@keyframes rotatebig {
  0% {
    transform: scale(0, 0) translateZ(0) rotate(0deg);
    opacity: 0;
  }

  25% {
    transform: scale(1.1, 1.1) translateZ(0) rotate(10deg);
  }

  50% {
    transform: scale(0.9, 0.9) translateZ(0) rotate(0deg);
  }

  75% {
    transform: scale(1.1, 1.1) translateZ(0) rotate(-10deg);
  }

  100% {
    transform: scale(1, 1) translateZ(0) rotate(0deg);
    opacity: 1;
  }
}

/* 波浪升起 */
@keyframes waveup {
  from {
    top: -100%;
    transform: rotate(0deg);
  }

  to {
    top: -180%;
    transform: rotate(-360deg);
  }
}

/* 旋转 */
@keyframes rotate {
  50% {
    transform: translate(-83%, -77%) rotate(180deg);
  }

  100% {
    transform: translate(-80%, -80%) rotate(360deg);
  }
}

/* 波纹 */
@keyframes ripple {
  0% {
    transform: scale(0.7);
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/* 烟花 */
@keyframes fireworks {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  60% {
    transform: scale(1);
    opacity: 1;
  }

  90% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}