@keyframes upaction {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(-80%);
    opacity: 1;
  }
}

@keyframes bamboo {
  0% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(0);
  }

  40% {
    transform: rotate(3deg);
  }

  60% {
    transform: rotate(0);
  }

  80% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes fadein {
  0% {
    transform: scale(0, 0) translateZ(0);
    opacity: 0;
  }

  30% {
    transform: scale(1.1, 1.1) translateZ(0);
    opacity: 1;
  }

  50% {
    transform: scale(0.5, 0.5) translateZ(0);
  }

  100% {
    transform: scale(1, 1) translateZ(0);
    opacity: 1;
  }
}

@keyframes slideup {
  0% {
    transform: translateY(1000%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes leftin {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes titlenumin {
  0% {
    transform: translateY(30%) scale(0);
    opacity: 0;
  }

  33% {
    transform: translateY(-30%) scale(1.5);
    opacity: 1;
  }

  66% {
    transform: translateY(0) scale(.5);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}