@define-mixin bg $url {
  background-image: url($(url));
  background-size: cover;
}

@custom-media --small-viewport (max-width: 320px);

@define-mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@define-mixin fullsize {
  height: 100vh;
  width: 100vw;
}

@define-mixin awardwrap {
  width: 80px;
  height: 80px;
  border-radius: 23px;
}

@define-mixin halffontsize {
  position: absolute;
  white-space: nowrap;
  transform: scale(0.5);
  transform-origin: 0 0;
}